.img-background {
    background-image: url('../../../../../assets/images/myachery/Home.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

}